// body {
//     background-image: url('../public/stamps.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     height: 100vh;
// }

.sunAnimation {
    width: 70vw;
    
}

.nav {  
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}

.indexForm {
    text-align: center;
}

.entries {
    // display: flex;
    // justify-content: center;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    text-align: center;
    margin: 2em;
    
}

.image {
    width: 30vw;
    height: 30vw;
    // object-fit: cover;
    &:hover {
        transform: scale(1.2);
        transition: .4s ease;
    }
}

