body {
    background-image: url('../public/stamps.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav {  
    text-align: center;
    font-size: 30px;
}

.indexForm {
    text-align: center;
}

.entries {
    display: flex;
    justify-content: center;
    gap: 5em;
    text-align: center;
}