// body {
//     background-image: url('../public/stamps.png');
//     background-repeat: no-repeat;
//     background-size: cover;
//     background-position: center;
//     height: 100vh;
// }
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Pacifico&family=Poppins:ital,wght@0,400;0,600;1,400&family=Roboto:ital,wght@0,300;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.sunAnimation {
  width: 70vw;
  margin: 5em auto;
}

.loginButtons {
  padding: 1em;
  display: flex;
  justify-content: center;
}

.nav {
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  font-family: 'Pacifico', cursive;
}

.index {
  background-image: url("../public/globe.jpg");
  background-repeat: no-repeat;
  background-size: 20%;
  background-position-x: right;
  background-position-y: top;
}

.indexForm {
  text-align: center;
}

h2 {
  font-family: 'Nunito', sans-serif;
}

.entries {
  // display: flex;
  // justify-content: center;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1em;
  text-align: center;
  margin: 2em;
  font-family: 'Nunito', sans-serif;
}

.image {
  width: 30vw;
  height: 30vw;

  // object-fit: cover;
  &:hover {
    transform: scale(1.2);
    transition: .4s ease;
  }
}

.showImage {
  width: 40vw;
  height: 40vh;
}